@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@keyframes fade-in {}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  color: #222222;
}

input,
button,
textarea,
select {
  font-size: 0.875rem;
  border: 0;
  outline: none;
}

label,
button {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

input {
  line-height: normal;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section[id] {
  scroll-margin-top: 30px;
}

section {
  display: block;
}

.header-area {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 2;
  background: transparent;
}
.header-area .main-header-area.sticky {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: #174bc9;
}
.header-area .main-header-area .header_wrap .header-logo a {
  font-size: 1.875rem;
  color: #ffffff;
}
.header-area .main-header-area .nav-menu .navbar {
  padding: 0;
}
.header-area .main-header-area .nav-menu .navbar .nav-item {
  position: relative;
  display: inline-block;
  margin: 0 11px;
}
.header-area .main-header-area .nav-menu .navbar .nav-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header-area .main-header-area .nav-menu .navbar .nav-item .nav-link {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.938rem;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-area .main-header-area .nav-menu .navbar .nav-item .sub-menu {
  padding-left: 0px;
  position: absolute;
  background: #ffffff;
  top: 120%;
  left: 0;
  width: 200px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.06), -2px 0px 5px 1px rgba(0, 0, 0, 0.06);
}
.header-area .main-header-area .nav-menu .navbar .nav-item .sub-menu .nav-item {
  display: block;
}
.header-area .main-header-area .nav-menu .navbar .nav-item .sub-menu .nav-item .nav-link {
  display: block;
  padding: 10px 15px;
  font-size: 0.938rem;
  color: #222222;
  font-weight: 400;
}

/* Banner Area */
.banner-area {
  height: 900px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: linear-gradient(101deg, #174bc9, #0034b4);
}
.banner-area .banner-content {
  position: relative;
}
.banner-area .banner-content h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 15px;
  user-select: none;
}
.banner-area .banner-content p {
  font-size: 1.125rem;
  margin-bottom: 40px;
}
.banner-area .banner-content a {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  border-radius: 5px;
  background: transparent;
  transition-duration: 500ms;
  font-size: 0.938rem;
}
.banner-area .banner-content a:hover {
  background: #ffffff;
  color: #222222;
}

/* Service Area */
.service-area {
  padding-top: 100px;
  padding-bottom: 50px;
  background: #e7edf9;
}
.service-area .title-heading {
  margin-bottom: 70px;
}
.service-area .title-heading h2 {
  font-size: 2rem;
}
.service-area .title-heading p {
  font-size: 1rem;
  margin-bottom: 0;
}
.service-area .single-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 60px 30px;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
  transition: all 500ms ease;
}
.service-area .single-item .icon-box {
  position: relative;
  color: #174bc9;
  margin-bottom: 20px;
  transition: all 500ms ease;
}
.service-area .single-item .icon-box i {
  font-size: 2rem;
}
.service-area .single-item h5 {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 1.375rem;
}
.service-area .single-item h5 a {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  transition-duration: 500ms;
}
.service-area .single-item p {
  position: relative;
  font-size: 0.938rem;
  transition: all 500ms ease;
}
.service-area .single-item:hover {
  transform: translateY(-10px);
  background: #174bc9;
}
.service-area .single-item:hover .icon-box {
  color: #ffffff;
}
.service-area .single-item:hover h5 {
  color: #ffffff;
}
.service-area .single-item:hover h5 a {
  color: #ffffff;
}
.service-area .single-item:hover p {
  color: #ffffff;
}

/* About Us Area */
.about-us-area {
  padding-top: 100px;
  padding-bottom: 50px;
}
.about-us-area .about-thumb {
  margin-bottom: 50px;
  padding-right: 50px;
}
.about-us-area .about-area-content {
  margin-bottom: 50px;
}
.about-us-area .about-area-content h2 {
  font-size: 2.625rem;
  margin-bottom: 20px;
}
.about-us-area .about-area-content p {
  font-size: 0.938rem;
}
.about-us-area .about-area-content .button {
  margin-top: 30px;
}
.about-us-area .about-area-content .button .btn-theme {
  padding: 10px 20px;
  border: 1px solid #174bc9;
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  background: #174bc9;
  transition-duration: 500ms;
  font-size: 1rem;
}
.about-us-area .about-area-content .button .btn-theme:hover {
  background: #ffffff;
  color: #174bc9;
}

/*# sourceMappingURL=main.css.map */
