@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  color: #222222;
}

input,
button,
textarea,
select {
  font-size: 0.875rem;
  border: 0;
  outline: none;
}

label,
button {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

input {
  line-height: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 0.875rem;
  color: #677294;
  line-height: 1.625rem;
}

section[id] {
  scroll-margin-top: 30px;
}

section {
  display: block;
}

.header-area {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 2;
  background: transparent;
}
.header-area .main-header-area.sticky {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: #174bc9;
}
.header-area .main-header-area .header_wrap .header-logo a {
  font-size: 1.875rem;
  color: #ffffff;
}
.header-area .main-header-area .nav-menu .navbar {
  padding: 0;
}
.header-area .main-header-area .nav-menu .navbar .nav-item {
  position: relative;
  display: inline-block;
  margin: 0 11px;
}
.header-area .main-header-area .nav-menu .navbar .nav-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header-area .main-header-area .nav-menu .navbar .nav-item .nav-link {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.938rem;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-area .main-header-area .nav-menu .navbar .nav-item .sub-menu {
  padding-left: 0px;
  position: absolute;
  background: #ffffff;
  top: 120%;
  left: 0;
  width: 200px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.06), -2px 0px 5px 1px rgba(0, 0, 0, 0.06);
}
.header-area .main-header-area .nav-menu .navbar .nav-item .sub-menu .nav-item {
  display: block;
}
.header-area .main-header-area .nav-menu .navbar .nav-item .sub-menu .nav-item .nav-link {
  display: block;
  padding: 10px 15px;
  font-size: 0.938rem;
  color: #222222;
  font-weight: 400;
}

/* Banner Area */
.banner-area {
  height: 950px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: linear-gradient(101deg, #174bc9, #0034b4);
}
.banner-area .banner-content {
  position: relative;
}
.banner-area .banner-content h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 15px;
  user-select: none;
}
.banner-area .banner-content p {
  font-size: 1.125rem;
  margin-bottom: 40px;
}
.banner-area .banner-content a {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  border-radius: 5px;
  background: transparent;
  transition-duration: 500ms;
  font-size: 0.938rem;
}
.banner-area .banner-content a:hover {
  background: #ffffff;
  color: #222222;
}
.banner-area .banner-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  z-index: 1;
}

/* Service Area */
.service-area {
  padding-top: 100px;
  padding-bottom: 50px;
  background: #ffffff;
}
.service-area .single-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 60px 30px;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
  transition: all 500ms ease;
}
.service-area .single-item .icon-box {
  position: relative;
  color: #174bc9;
  margin-bottom: 20px;
  transition: all 500ms ease;
}
.service-area .single-item .icon-box i {
  font-size: 2rem;
}
.service-area .single-item h5 {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 1.375rem;
}
.service-area .single-item h5 a {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  transition-duration: 500ms;
}
.service-area .single-item p {
  position: relative;
  font-size: 0.938rem;
  transition: all 500ms ease;
}
.service-area .single-item:hover {
  transform: translateY(-10px);
  background: #174bc9;
}
.service-area .single-item:hover .icon-box {
  color: #ffffff;
}
.service-area .single-item:hover h5 {
  color: #ffffff;
}
.service-area .single-item:hover h5 a {
  color: #ffffff;
}
.service-area .single-item:hover p {
  color: #ffffff;
}

.title-heading {
  margin-bottom: 70px;
}
.title-heading h2 {
  font-size: 2rem;
  font-weight: 600;
}
.title-heading p {
  font-size: 1rem;
  margin-bottom: 0;
}

/* About Us Area */
.about-us-area {
  padding-top: 100px;
  padding-bottom: 50px;
  background: #e7edf9;
}
.about-us-area .about-thumb {
  margin-bottom: 50px;
  padding-right: 50px;
}
.about-us-area .about-area-content {
  margin-bottom: 50px;
}
.about-us-area .about-area-content h2 {
  font-size: 2.625rem;
  margin-bottom: 20px;
}
.about-us-area .about-area-content p {
  font-size: 0.938rem;
}

.button-area {
  margin-top: 30px;
}
.button-area .btn-theme {
  padding: 10px 20px;
  border: 1px solid #174bc9;
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  background: #174bc9;
  transition-duration: 500ms;
  font-size: 1rem;
}
.button-area .btn-theme:hover {
  background: #ffffff;
  color: #174bc9;
}

/* Why We Are Area */
.why-we-are-area {
  background: #ffffff;
  padding-top: 100px;
  padding-bottom: 50px;
}
.why-we-are-area .why-we-thumb {
  margin-bottom: 50px;
}
.why-we-are-area .why-we-content {
  margin-bottom: 50px;
}
.why-we-are-area .why-we-content h3 {
  font-size: 1.875rem;
}
.why-we-are-area .why-we-content p {
  font-size: 0.875rem;
  margin-bottom: 30px;
  color: #677294;
}
.why-we-are-area .why-we-content .why-we-body li {
  margin-bottom: 24px;
  font-size: 0.875rem;
}
.why-we-are-area .why-we-content .why-we-body li i {
  display: inline-block;
  color: #174bc9;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 1.25rem;
}

/* Feature Area */
.feature-area {
  padding-top: 100px;
  padding-bottom: 50px;
  background: #e7edf9;
}
.feature-area .single-feature-area {
  padding: 30px;
  transition-duration: 500ms;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}
.feature-area .single-feature-area:hover {
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.3);
}
.feature-area .single-feature-area.active {
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.3);
}
.feature-area .single-feature-area .feature-icon {
  margin-bottom: 30px;
  color: #0034b4;
  display: inline-block;
  transition-duration: 600ms;
  font-size: 2rem;
  border-radius: 10px;
  transition: 0.5s;
}
.feature-area .single-feature-area .feature-info h4 {
  font-size: 1.25rem;
}
.feature-area .single-feature-area .feature-info a {
  color: #0034b4;
  transition: 0.5s;
  font-weight: 500;
  padding: 20px;
}
.feature-area .single-feature-area .feature-info a:hover i {
  transform: translateY(0px);
  opacity: 1;
}
.feature-area .single-feature-area .feature-info a i {
  font-size: 1rem;
  vertical-align: middle;
  transform: translateX(-10px);
  overflow: hidden;
  opacity: 0;
  transition-duration: 500ms;
}

/* Team Area */
.team-area {
  padding-top: 100px;
  padding-bottom: 50px;
}
.team-area .single-team-card {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}
.team-area .single-team-card img {
  width: 100%;
  height: auto;
}
.team-area .single-team-card .team-info {
  width: 100%;
  height: 100%;
  padding-top: 35%;
  position: absolute;
  background: #174bc9;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-duration: 500ms;
}
.team-area .single-team-card .team-info h4 {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.team-area .single-team-card .team-info span {
  display: block;
  font-size: 1.063rem;
  color: #ffffff;
}
.team-area .single-team-card .team-info .social li {
  display: inline-block;
  margin-top: 30px;
}
.team-area .single-team-card .team-info .social li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 1.25rem;
  color: #4c5462;
  margin-right: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease 0s;
}
.team-area .single-team-card:hover .team-info {
  transform: translateY(0);
}

/* Video Area */
.video-area {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(/assets/images/banner/3.jpg);
  z-index: 1;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.video-area::before {
  content: "";
  position: absolute;
  background-color: #174bc9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}
.video-area .video-content {
  position: relative;
  z-index: 1;
}
.video-area .video-content .video-play-area {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 50px;
}
.video-area .video-content .video-play-area .btn-play i {
  background: #ffffff;
  color: #0034b4;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.625rem;
}

/*# sourceMappingURL=main.css.map */
